
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_cbmay4ubfls1yvi.eot?t=1495777901173'); /* IE9*/
  src: url('//at.alicdn.com/t/font_cbmay4ubfls1yvi.eot?t=1495777901173#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_cbmay4ubfls1yvi.woff?t=1495777901173') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_cbmay4ubfls1yvi.ttf?t=1495777901173') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_cbmay4ubfls1yvi.svg?t=1495777901173#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xunzhang:before { content: "\e648"; }

